<div class="container-fluid bg-light">
    <button (click)="showAddBtn()" type="button" class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
       Add New Question
    </button>
    <h3 style="font-size: 20px;" class="py-2">User : {{ID}}</h3>
    <div class="mb-3 col-sm-3">
        <!-- <label for="exampleFormControlInput1" class="form-label">Search</label> -->
        <input type="email" class="form-control" id="exampleFormControlInput1" [(ngModel)]="searchValue" name="searchValue" ngDefaultControl placeholder="Search Question">
    </div>
</div>
<div class="container">
    <div class="modal fade p-3" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content p-3">
                <form [formGroup]="FormVal">
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="inputID" formControlName="id" type="text" placeholder="ID"></textarea>
                        <label for="floatingTextarea">ID</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" formControlName="Question" type="text" placeholder="Question" name="Question"></textarea>
                        <label for="floatingTextarea">Question</label>
                        <div *ngIf="questionValidation.invalid && questionValidation.touched">
                            <div class="alert alert-danger" *ngIf="questionValidation.errors?.['required']">Question cannot be blank</div>
                            <div class="alert alert-danger" *ngIf="questionValidation.errors?.['minlength']">Question should have minimum 20 characters</div>
                            <div class="alert alert-danger" *ngIf="questionValidation.errors?.['maxlength']">Question should have maximum 60 characters</div>
                        </div>
                    </div>
                    <!-- <div class="form-floating my-3">
                        <textarea class="form-control" formControlName="Answer" placeholder="Answer" id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Answer</label>
                    </div> -->
                    <div class="mb-3">
                        <!-- <input class="form-control" formControlName="QuestionCategory" type="text" placeholder="QuestionCategory"> -->
                        <select class="form-select" aria-label="Default select example" formControlName="QuestionCategory" name="QuestionCategory">
                            <option selected>General</option>
                            <option value="Trivia">Personal</option>
                            <option value="Category 3">Sports 3</option>
                            <option value="Category 4">Trivia 4</option>
                        </select>
                        <div *ngIf="quesCatValidation.invalid && quesCatValidation.touched">
                            <div class="alert alert-danger" *ngIf="quesCatValidation.errors?.['required']">Question category cannot be blank</div>
                            <!-- <div class="alert alert-danger" *ngIf="quesCatValidation.errors?.['minlength']">Question should have minimum 20 characters</div>
                            <div class="alert alert-danger" *ngIf="quesCatValidation.errors?.['maxlength']">Question should have maximum 60 characters</div> -->
                        </div>
                    </div>
                    <div class="form-floating my-3">
                        <textarea class="form-control" formControlName="CreatedBy" placeholder="CreatedBy" id="floatingTextarea" name="CreatedBy"></textarea>
                        <label for="floatingTextarea">Created By</label>
                        <div *ngIf="createdByValidation.invalid && createdByValidation.touched">
                            <div class="alert alert-danger" *ngIf="createdByValidation.errors?.['required']">Created by cannot be blank </div>
                            <!-- <div class="alert alert-danger" *ngIf="quesCatValidation.errors?.['minlength']">Question should have minimum 20 characters</div>
                            <div class="alert alert-danger" *ngIf="quesCatValidation.errors?.['maxlength']">Question should have maximum 60 characters</div> -->
                        </div>
                    </div>
                    <div class="form-floating my-3">
                        <textarea formControlName="currentDate" type="input" [value]="currentDate" class="form-control" readonly></textarea>
                    </div>
                    <!-- <div class="form-floating my-3">
                        <textarea type="input" [value]="currentDate" class="form-control" readonly></textarea>
                    </div> -->
                </form>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-secondary " id="cancel" data-bs-dismiss="modal">Close</button>
                    <button type="button" *ngIf="btnSave" class="btn btn-primary" (click)="postAllData()" data-bs-dismiss="modal">Save</button>
                    <button type="button" *ngIf="btnUpdate" class="btn btn-primary" (click)="updateRecord()">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" container-fluid ">
    <div class="text-ceter ">
        <h1>FAQ Details</h1>
    </div>
    <table id="dtBasicExample" class="table table-striped table-bordered" id="sortTable">
        <thead>
            <tr>
                <td scope="col">Ques. ID</td>
                <td scope="col">Question</td>
                <td scope="col">Category</td>
                <td scope="col">Created By</td>
                <td scope="col">Created On</td>
                <td scope="col">Action</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of getData | questionFilter:searchValue">
                <td>{{d.qId}}</td>
                <td>{{d.question}}</td>
                <td>{{d.questionCategory}}</td>
                <td>{{d.createdBy}}</td>
                <td>{{d.createdOn}}</td>
                <!-- <td>{{d.UpdatedBy}}</td> -->
                <td>
                    <button type="button " (click)="editRecord(d)" class="btn btn-primary mx-2 " data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
                    <button class="btn btn-danger " (click)="deleteRecord(d.qId) ">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>