h2 {
    padding: 20px 10px;
    font-weight: 900;
    margin: 5px;
}

.btn {
    background-color: cornflowerblue;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: none;
    margin: 20px
}

.btn:hover {
    background-color: rgb(44, 101, 206);
}